.ant-modal-content {
  background-color: rgb(41 43 39) !important;
  color: white !important;
}

.modal-heading {
  font-size: 1.5rem;
  margin-bottom: 0px;
}

.formItem {
  display: grid;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: start;
}

.form {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 2fr));
  grid-template-rows: repeat(2, minmax(100px, 2fr));
}

.formItem > label {
  padding: 0.5 rem;
}
.formItem > input {
  background-color: rgb(63 65 61);
  border-radius: 10px;
  padding: 10px;
  width: 180px;
  border: none;

  outline: none;
}

.error {
  font-size: 8px;
  height: 8px;
}

.controlButtons {
  display: flex;
  justify-content: flex-end;
  margin-right: 35px;
  gap: 10px;
}

.cancel {
  color: rgb(222 255 85);
}
